spring:
  datasource:
    url: jdbc:postgresql://${PGHOST}:${PGPORT}/${PGDATABASE}
    username: ${PGUSER}
    password: ${PGPASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    open-in-view: false
  jackson:
    time-zone: UTC
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

server:
  port: 5000
  address: 0.0.0.0

logging:
  level:
    root: INFO
    org.springframework.security: INFO
    ye.gov.sanaa.healthoffice: DEBUG

jwt:
  secret: "change-this-secret-in-production-very-strong-and-long"
  access-token-validity-seconds: 900      # 15 minutes
  refresh-token-validity-seconds: 1209600 # 14 days

management:
  endpoints:
    web:
      exposure:
        include: health,info

